<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Application Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Option 1</ion-label>
    <ion-toggle [(ngModel)]="isFeatureEnabled1"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Option 2</ion-label>
    <ion-toggle [(ngModel)]="isFeatureEnabled2"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Option 3</ion-label>
    <ion-toggle [(ngModel)]="isFeatureEnabled3"></ion-toggle>
  </ion-item>


  <ion-item>
    <ion-label>Range</ion-label>
    <ion-range [(ngModel)]="rangeNo" min="0" max="100" step="1" snaps="true">
    </ion-range>
  </ion-item>
  <p>Value: {{ rangeNo }}</p>


  <ion-item>
    <ion-label>Checkbox 1</ion-label>
    <ion-checkbox [(ngModel)]="isChecked1"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Checkbox 2</ion-label>
    <ion-checkbox [(ngModel)]="isChecked2"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Checkbox 3</ion-label>
    <ion-checkbox [(ngModel)]="isChecked3"></ion-checkbox>
  </ion-item>


  <ion-list>
    <ion-item>
      <ion-label>Radio Option 1</ion-label>
      <ion-radio slot="start" value="option1" [(ngModel)]="selectedOption"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Radio Option 2</ion-label>
      <ion-radio slot="start" value="option2" [(ngModel)]="selectedOption"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-button (click)="resetValues()">RESET ALL SETTINGS</ion-button>


</ion-content>

